@font-face {
     src: url(./assets/fonts/swiper-icons.ttf); 
     font-family: icon-swiper;
}

/* body{
     background-color: #2c3236;
} */

.popUp-menu{
     opacity:0;
     visibility: hidden;
}
.relative-menu:hover .popUp-menu{
     opacity: 1;
     visibility: visible;
     transform: translateY(-30px);
}

.chart-input {
     min-width: 80px;
}

.no-scrollbar::-webkit-scrollbar{
   display: none;
}

.wrapper::-webkit-scrollbar{
     display: none;
  }

.falsh1{
     transform: rotate(-90deg);
     transition-duration: .2s;
}

.falsh:hover .falsh1{
   transform:  translateX(10px) rotate(-90deg);
}

.filter-items:hover .filter-items-overal{
     display: block;
}

.filter-items-overal{
     background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(25, 28, 31, 0.5) 95%)
}

.filter-items:hover .filter-icons{
     display: none;
}

.filter-items:hover .filter-btn{
     display: block;
}

